@implements IDisposable
@inject IJSRuntime JSRuntime

<CascadingValue Value="this">
    <div id="@TabId" class="@ThemeValue @CSSClass">
        @foreach (Tab tabPage in Pages)
        {
            <span class="@(GetTabCSS(tabPage))">
                @tabPage.Text
            </span>
        }
    </div>
    <div class="tab-content">
        @ChildContent
    </div>
</CascadingValue>